@import url('https://fonts.googleapis.com/css2?family=Lalezar&family=Open+Sans&display=swap');

h1 {
    font-family: 'Lalezar';
    font-size: 48px;
}

h2 {
    font-family: 'Lalezar';
    font-size: 36px;
}

h3 {
    font-family: 'Lalezar';
    font-size: 28px;
}

p, span, input, label, button, a {
    font-family: 'Open Sans';
    font-size: 18px;
}

input:focus, textarea:focus {
    outline: none;
}

.container {
    width: 1080px;
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
    padding-bottom: 32px;
}

.full-page {
    min-height: 100vh;
}

.animation-up {
    position: relative;
    top: 0;
    transition: top ease 0.5s;
}
  
.animation-up:hover {
    top: -6px;
}

.arrow-link {
    position: relative;
    right: 0;
    transition: right ease 0.5s;
}
  
.arrow-link:hover {
    right: -6px;
    text-decoration: underline;
    text-underline-position: under;
}